## Build and temporary files
[Bb]in/
[Oo]bj/
[Lls]og/
[Ll]ogs/

## Visual Studio / VS Code temp files
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/packages/
project.lock.json
project.assets.json